<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1204be9cc5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Facebook</title>
</head>

<body>
    <nav>
        <div class="logo_search"><i class="fa-brands fa-facebook fa-3x logo pointer_element"></i>
            <input type="search" name="" id="" placeholder="Search Facebook">
        </div>

        <div class="main_bar">
            <div class="pointer_element"><i class="fa-solid fa-house fa-xl pointer"></i></div>
            <div class="pointer_element"><i class="fa-regular fa-circle-play fa-xl pointer"></i></div>
            <div class="pointer_element"><i class="fa-solid fa-shop fa-xl pointer"></i></div>
            <div class="pointer_element"><i class="fa-solid fa-users fa-xl pointer"></i></div>
            <div class="pointer_element"><i class="fa-solid fa-gamepad fa-xl pointer"></i></div>
        </div>

        <div class="profile_bar">
            <div class="pointer_element all_div"><i class="fa-solid fa-bars fa-xl"></i></div>
            <div class="pointer_element all_div"><i class="fa-brands fa-facebook-messenger fa-lg"></i></div>
            <div class="pointer_element all_div"><i class="fa-solid fa-bell fa-lg"></i></div>
            <li><img class="pointer_element" src="/static/Wordpress development.png" alt="Not loaded">
                    <aside class="submenu"><ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul></aside>
            </li>
        </div>
    </nav>

    <div class="main_container">
        <div class="user_detail_bar">
            <div class="profile_details">
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Atif
                        Anxari</span></div>
                <div class="pointer_element"><i class="fa-solid fa-user-group fa-xl blueclr"></i><span>Friends</span>
                </div>
                <div class="pointer_element"><i class="fa-solid fa-address-card fa-xl blueclr"></i><span>Most
                        Recent</span></div>
                <div class="pointer_element"><i class="fa-solid fa-users fa-xl blueclr"></i><span>Groups</span></div>
                <div class="pointer_element"><i class="fa-solid fa-shop fa-xl blueclr"></i><span>Marketplace</span>
                </div>
                <div class="pointer_element"><i class="fa-regular fa-circle-play fa-xl blueclr"></i><span>Watch</span>
                </div>
            </div>
            <div class="shortcuts">
                <div>
                    <h2>Your Shortcuts</h2>
                </div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>8 Ball
                        Pool</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Bowling
                        King</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Hindi
                        Lofi Music</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png"
                        alt="Not loaded"><span>Reels4u</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png"
                        alt="Not loaded"><span>Ringtones Ka Shaher</span>
                </div>
            </div>
            <div class="foot_bar"><a href="#">Privacy .</a>
                <a href="#"> Teams .</a>
                <a href="#"> Advertising .</a>
                <a href="#"> Ad Choices .</a>
                <a href="#"> Cookies .</a>
                <a href="#"> More .</a>
                <a href="#"> Meta &copy; 2023</a>
            </div>
        </div>


        <div class="slider">
            <div class="main_slider">

                <div class="post_container">
                    <div class="post"><img src="/static/Wordpress development.png" alt="Not loaded"><input type="text"
                            name="" id="" placeholder="Whats's on your mind, Atif?"></div>
                    <div class="post_material">
                        <div class="pointer_element"><i class="fa-solid fa-video redclr fa-xl"></i><span>Live
                                Video</span></div>
                        <div class="pointer_element"><i
                                class="fa-solid fa-image greenclr fa-xl"></i><span>Photo/Video</span></div>
                        <div class="pointer_element"><i
                                class="fa-solid fa-face-smile yellowclr fa-xl"></i><span>Feeling/Activity</span></div>
                    </div>
                </div>
                <div class="user_post">
                    <div class="user_post_head">
                        <div class="user_post_head_profile_pic"><img src="/static/Wordpress development.png"
                                alt="Not loaded"></div>
                        <div class="user_post_head_heading">
                            <p><strong>Abdul Mateen</strong> is with <strong>Abdul Star </strong>and <strong>72
                                    others.</strong></p>
                            <p>February 8 at 10:02 PM</p>
                        </div>
                        <div class="user_post_head_icons"><i class="fa-solid fa-ellipsis"></i><i
                                class="fa-solid fa-xmark"></i></div>
                    </div>
                    <div class="user_post_main_pic"><img src="/static/Best Android Wallpapers.png" alt="Not loaded">
                    </div>
                    <div class="user_post_detail_bar"><i class="fa-solid fa-thumbs-up blueclr"></i><i
                            class="fa-solid fa-heart redclr"></i><span
                            class="user_post_detail_bar_heading greyclr">Abdul Mateen and 28
                            others</span><span class="greyclr">4 Comments</span></div>
                    <div class="like_and_comment_btn">
                        <div class="pointer_element"><i class="fa-solid fa-thumbs-up greyclr"></i><span
                                class="greyclr">Like</span></div>
                        <div class="pointer_element"><i class="fa-solid fa-comment greyclr"></i><span
                                class="greyclr">Comments</span></div>
                    </div>
                    <div>
                        <h3>View more comments</h3>
                    </div>
                    <div class="comment_box">
                        <img src="/static/Wordpress development.png" alt="Not Loaded"><input type="text" name="" id=""
                            placeholder="Write a comment...">
                    </div>
                </div>
                <div class="user_post">
                    <div class="user_post_head">
                        <div class="user_post_head_profile_pic"><img src="/static/Wordpress development.png"
                                alt="Not loaded"></div>
                        <div class="user_post_head_heading">
                            <p><strong>Abdul Mateen</strong> is with <strong>Abdul Star </strong>and <strong>72
                                    others.</strong></p>
                            <p>February 8 at 10:02 PM</p>
                        </div>
                        <div class="user_post_head_icons"><i class="fa-solid fa-ellipsis"></i><i
                                class="fa-solid fa-xmark"></i></div>
                    </div>
                    <div class="user_post_main_pic"><img src="/static/Yellow & Black Earn Money YouTube Thumbnail.png"
                            alt="Not loaded">
                    </div>
                    <div class="user_post_detail_bar"><i class="fa-solid fa-thumbs-up blueclr"></i><i
                            class="fa-solid fa-heart redclr"></i><span
                            class="user_post_detail_bar_heading greyclr">Abdul Mateen and 28
                            others</span><span class="greyclr">4 Comments</span></div>
                    <div class="like_and_comment_btn">
                        <div class="pointer_element"><i class="fa-solid fa-thumbs-up greyclr"></i><span
                                class="greyclr">Like</span></div>
                        <div class="pointer_element"><i class="fa-solid fa-comment greyclr"></i><span
                                class="greyclr">Comments</span></div>
                    </div>
                    <div>
                        <h3>View more comments</h3>
                    </div>
                    <div class="comment_box">
                        <img src="/static/Wordpress development.png" alt="Not Loaded"><input type="text" name="" id=""
                            placeholder="Write a comment...">
                    </div>
                </div>
            </div>
        </div>


        <div class="other_detail_bar">
            <div class="pages">
                <div class="pages_profile">
                    <h2>Your Pages and profiles</h2>
                    <div class="profile_option_bar pointer_element"><i class="fa-solid fa-ellipsis greyclr"></i></div>
                </div>
                <div class="pages_img pointer_element"><img src="/static/Wordpress development.png"
                        alt="Not loaded"><span>Reels4u</span></div>
                <div class="page_details">
                    <div class="pointer_element"><i class="fa-solid fa-bell fa-lg greyclr"></i><span>18
                            Notifications</span></div>
                    <div class="pointer_element"><i class="fa-solid fa-repeat greyclr"></i><span>Switch into Page</span>
                    </div>
                    <div class="pointer_element"><i class="fa-solid fa-bullhorn greyclr"></i><span>Create
                            Promotion</span></div>
                </div>
            </div>

            <div class="friend_requests">
                <div class="FRheading">
                    <h2>Friend Requests</h2>
                    <span class="pointer_element">See all</span>
                </div>

                <div class="FRprofile pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded">
                    <h3>Muhammad Siddique</h3><span>2w</span>
                </div>
                <div class="FRbuttons"><button class="cnfrmbtn">Confirm</button>
                    <button class="dltbtn">Delete</button>
                </div>
            </div>

            <div class="birthdays">
                <div>
                    <h2>Birthdays</h2>
                </div>
                <div class="brdy_box_bar"><img src="/static/birthday box.png" alt="Not laoded"><span><strong
                            class="pointer_element">Muhammad
                            Arslan</strong>and <strong class="pointer_element">14 others</strong> have birthdays
                        today.</span></div>
            </div>

            <div class="contacts">
                <div class="contacts_bar">
                    <div>
                        <h1>Contacts</h1>
                    </div>
                    <div class="contacts_bar_icons">
                        <div class="pointer_element"><i class="fa-solid fa-video greyclr"></i></div>
                        <div class="pointer_element"><i class="fa-solid fa-magnifying-glass greyclr"></i></div>
                        <div class="pointer_element"><i class="fa-solid fa-ellipsis greyclr"></i></div>
                    </div>
                </div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Faraz
                        Ahmad</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Asad
                        Ali</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png"
                        alt="Not loaded"><span>Muneeb</span></div>
                <div class="pointer_element"><img src="/static/Wordpress development.png" alt="Not loaded"><span>Ali
                        Sarfaraz</span></div>
            </div>


        </div>
    </div>
</body>

</html>